.contacts {
  display: flex;
  gap: 60px;
  &__link {
    padding-left: 36px;
    background: url(../icons/location.svg) left center / 33px no-repeat;
    font-size: 18px;
    &--tel {
      background-image: url(../icons/phone.svg);
      font-size: 17px;
    }
    &--email {
      background-image: url(../icons/email.svg);
    }
  }
}
