.header {
  border-bottom: 1px solid #222;
  &__top {
    background: #111;
    padding: 15px 0;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
  }
  &__bottom {
    padding: 15px 0;
  }
  &__time {
    font-size: 17px;
  }
}
