.page-up {
  width: 34px;
  height: 34px;
  background: #fafafa;
  cursor: pointer;
  position: fixed;
  z-index: 99;
  right: 22px;
  bottom: 22px;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 48%;
    background: #222;
    height: 9%;
    top: 50%;
    border-radius: 0px;
  }
  &::before {
    right: 43%;
    transform: translate(4%, -50%) rotate(-45deg);
  }
  &::after {
    left: 43%;
    transform: translate(-4%, -50%) rotate(45deg);
  }
  &.show {
    visibility: visible;
    opacity: 1;
    user-select: auto;
  }
}

@media (min-width: 1440px) {
  .page-up {
    width: 2.4vw;
    height: 2.4vw;
  }
}

@media (min-width: 2200px) {
  .page-up {
    width: 2.2vw;
    height: 2.2vw;
  }
}
