.promo {
  border-bottom: 1px solid #222;
  padding: 0;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__content {
    padding: 2vw 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__logo {
    width: 30%;
    align-self: center;
    margin-top: -75px;
  }
  &__text {
    font-size: 17px;
    margin-bottom: 40px;
  }
  &__images {
    height: calc(100vh - 124px);
    display: flex;
    flex-wrap: wrap;
    gap: 0.3%;
  }
  &__img {
    height: 49.85%;
    width: 49.85%;
    object-fit: cover;
  }
}

@media (min-width: 1600px) {
  .promo {
    &__text {
      font-size: 20px;
    }
  }
}

@media (min-width: 1920px) {
  .promo {
    &__text {
      font-size: 25px;
    }
  }
}
