.services {
  background-color: #222;
  color: #fafafa;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.2vw;
    li {
      padding: 1vw 1.5vw;
      border: 2px solid #fafafa;
      font-size: 1vw;
      transition: 0.1s;
      &:hover {
        background: #fafafa;
        color: #222;
      }
    }
  }
}
